
# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
asst/*
!media/*
!static/*
!app/migrations/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# End of https://www.gitignore.io/api/visualstudiocode