

{% extends 'base.html' %}


{% block leftcol %}
{% endblock %}
{% block middlecol %}

<form method="post">
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ profile_form.as_p }}
  <button class="btn btn-primary" type="submit" style="margin-top: 20px">Save changes</button>
</form>
{% endblock %}



{% block extra_script %}

<script>

$(function(){

$('select#id_state_of_origin').on('change',function(){
    var choice=$('select#id_state_of_origin option:selected').text();
    $.ajax({
      url:'/getlg',
      data:{'state':choice},
    })
    .done(function(data){
      $('select#id_local_government').html("")
      console.log('vvvvvvvvvvvvvvvvvvvvvvvvvvvv  '+data[0]['fields'].name);
      for(var i=0;i<data.length;i++){

        var op='<option value='+(i+1)+'>'+data[i]['fields'].name+'</option>'
        $('select#id_local_government').append(op);

      }

    })
    .fail(function(){
      console.log('eror from .............................getlg');
    })
});





})

</script>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<!--<script type="text/javascript" src="/static/ckeditor/ckeditor-init.js"></script>-->
<!--<script type="text/javascript" src="/static/ckeditor/ckeditor/ckeditor.js"></script>-->
<!--<script type="text/javascript" src="/static/admin/js/collapse.js"></script>-->

{% endblock %}