

body{
    /*font-family: Raleway;*/
    background-color: white;
    /*font-family: 'Droid Serif', serif;*/
    line-height: 1.5em;
    font-size: 100%;
    
}

#header{
   
    
    position: relative;
    /*height: 730px;*/
    /*padding: 20px 80px 0 80px;*/
    background: url(../img/city5.png) no-repeat 50% 10%;
    /*background-blend-mode: multiply;*/
    background-size: cover;
     background-color: #333;

     padding: 0px 0px 0 0px;

}
#headerwrapper{
    height: 100%;
    background: rgba(25, 25, 25, 0.8);
    padding-left: 40px;
    padding-top: 20px;
    width: 100%;
    /*opacity: .7*/
}
#headercontainer{
     height: 100%;
     width: 100%;
     background-color: grey;
}

.textboard{
    -webkit-animation-name:textboardin; 
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
     animation-name: textboardin;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    border: solid 2px white;
    border-radius: 5px;
    width: 90%;
    padding: 15px;
    opacity: 0;
    height: 10%;
    
}

@keyframes textboardin{
    0%{
       opacity: 0;

    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes textboardin{
    0%{
       opacity: 0;

    }
    100%{
        opacity: 1;
    }
}


.hero_text{
    position: inherit;
    top:-500px;
    -webkit-animation-name: hero_text_anim;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-name: hero_text_anim;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    color: white;
    font-weight: bold;
    opacity: 0;
    

}
@keyframes hero_text_anim{
    0% {
       opacity: 0;
       top:-500px;

    }
    30%{
        opacity: 0.3;
        top:-150;
    }
    60%{
        opacity: 0.5;
        top:50px;
    }
    80%{
        opacity: 0.8;
        top:-10px;
    }
    100%{
        opacity: 1;
        top:0px;
    }
}
@-webkit-keyframes hero_text_anim{
    0% {
       opacity: 0;
       top:-500px;

    }
    30%{
        opacity: 0.3;
        top:-150;
    }
    60%{
        opacity: 0.5;
        top:50px;
    }
    80%{
        opacity: 0.8;
        top:-10px;
    }
    100%{
        opacity: 1;
        top:0px;
    }
}
/*.textboardanim{
    animation-name: textboardin;
    animation-duration: 5s;
    animation-delay: 5s;

}*/





div.textboard h4{
    /*background-color: rgba(25, 25, 25, 0.7);*/
    color: #c4dec8;
    font: bold
}

div.mynav{
    /*position: fixed;
    margin-right: 5px;
    z-index: 1000;*/
}
.navbox.row{
    margin-left: 0;
    margin-right: 0;
} 

.row{
    /*background-color: red;*/
    margin-left: 0;
    margin-right: 0;
}
div.mynav a{
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    -webkit-transition: 2s;
    transition: 2s;
}
div.mynav a:hover{
     color: #f0ad4e;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

}

div.quote{
    font-size:150%;
    padding: 30px 0 10px 0;
    text-align: center;
    position: relative;
}
/*div.quote span{
     position: absolute;
     left: -100%;
     opacity: 0;
     -webkit-animation-name: quoteanim;
     -webkit-animation-duration: 3s;
     -webkit-animation-delay: 3s;
     -webkit-animation-fill-mode:forwards;
     animation-name: quoteanim;
     animation-duration: 3s;
     animation-delay: 3s;
     animation-fill-mode:forwards;
     
     -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
             animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

}*/

@-webkit-keyframes quoteanim{
    0%{
        left: -100%;
     opacity: 0;

   

    }

     50%{
        left: 0%;
     opacity: 0.5;

   

    }
     100%{
        left: 25%;
     opacity: 1;

    }
}

@keyframes quoteanim{
    0%{
        left: -100%;
     opacity: 0;

   

    }

     50%{
        left: 0%;
     opacity: 0.5;

   

    }
     100%{
        left: 25%;
     opacity: 1;

    }
}

.container-fluid{
    padding: 0 15px;
    margin: 0 0;
}
nav{
    display: none;
}
.navbar-default{
    background-color: #036cc2;
    box-shadow: 0px -1px 8px 1px #111211;
    opacity: 0.9;
}










.scoreboard{
    display: none;
    color: blue
}
.badge{
    background-color: #f0ad4e;
}
.progressbar-bar{
    width: 0;
}

#avatarbox{
    border: solid 1px gray;
    background-color: white;
    color: #444;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    opacity: 0.8;
    position: absolute;
    top:20px;
    right: 0;
    z-index: 1000;
    display:  none;
}   
#avatarbox p{
    padding: 10px;
    font-size: 18px;
}    
#avatarbox p a:hover{
    text-decoration: none;
} 
#avatararrow{
    width: 20px;
    height: 20px;
    border: solid 1px gray;
     background-color: white;
    position: absolute;
    top:-10px;
    right: 25px;
    transform: rotate(45deg);
    z-index: -1;
    border-right: none;
    border-bottom: none;
}

#loginbox{
    padding: 50px;
    border: solid 1px grey;
    border-radius: 10px;
}

#mainnav{
    position: absolute;
    right: 30px;
}

#row_1 #feedspace h3.title{
    color: #333;
    font-size: 30px;
    /*padding: 20px;*/
}
#row_1 #feedspace p.desc{
    color:blue;
    /*font-size: 20px;*/
    /*padding: 20px;*/
}
#row_1{
    padding-top: 100px;
    /*background: url(../img/gallery-background.jpg);
    background-repeat: repeat-x;*/
    margin-left: -15px;
    margin-right: -15px;
}
#row_0{
    padding-top: 100px;
    /*background: url(../img/gallery-background.jpg);
    background-repeat: repeat-x repeat-y;*/
    margin-left: -15px;
    margin-right: -15px;
}

section#ourteam img{
    max-width: 200px;
    max-height: 200px;
    
}


section#ourteam .img-col{
    text-align: center;
    color: #cb7a08;
    
}

section#ourteam{
    padding: 50px 0;
    text-align: center;
}

.sectiontitle{
   
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    /*font-size: 30px;*/
    text-align: center;
    font-weight: bold;
    color: #444;
}
.section-title-col{
 padding-bottom: 50px;
}
#teamwrapper{
    padding: 50px 0;
    background-color: #f3f3f3;
    /*max-height: 310px;*/
    overflow-y:hidden;
}
.farea{
    padding: 30px 0;
}
.farea ul{
    text-align: left;
}

#social-icon-col{

}

.social-buttons {
    text-align: left;
}
div.footer-nav a{
    color: white;
    padding-left: 30px;

}
.service-list{
    width: 70%;
    padding-top: 30px;
}

.service-list li{
    padding-top: 20px;
}
.service-list h3{
    color: #cb7a08;
}

.footer-subhead{
    font-family: 'Alfa Slab One',Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: bold;
    padding: 20px 0;
    
}
#map{
    width: 80%;
}

.carousel-control.left{
    background-image: none;
}
.carousel-control.right{
    background-image: none;
}


.carousel-inner ul.l{
    float: right !important;
}
.carousel-inner ul.r{
    float: left !important;
    
}
.carousel-inner ul.m{
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.carousel-inner{
    color: #333;
}

canvas{
    /*width: 100px;
    height: 100px;*/
}

.agenda:hover{
      border: solid 2px rgba(240, 173, 78, 0.47);
    /*border-color:  #cb7a08;*/
}

#footer-info2 ul{
    text-align: left;
}

#services-container{
    padding: 50px 100px;
    margin-top:100px;
    background-color: #f3f3f3 
}






/*Media Query section*/

@media only screen and (min-width:300px){

}

@media only screen and (min-width:600px){

}
@media only screen and (min-width:960px){

}
@media only screen and (min-width:1140px){

}
@media only screen and (min-width:1360px){

}





@media screen and (max-width: 1000px){
    #services-container{
    padding: 50px 0;
    }
    .r{
        display: none;
    }

    .row{
        /*background-color: red;*/
    }
    footer img{
        display: none;
    }
    div.mynav{
        /*display: none;*/
    }
    nav#navstate{
        display: block;

    }
    .textboard img{
        display: none;
    }
    .textboard{
        border-color: #f0ad4e;
    }
    .textboard h3{
        font-weight: bold;
        padding: 20px 0;
    }


    div.quote{
        font-size:150%;
        padding: 30px 0;
        text-align: center;
        position: relative;
        margin-right: 25%;
    }



}

@media screen and (max-width: 760px){
    

    div.mynav{
            display: none;
        }

        .carousel-inner ul.l{
            display: none;
        }



}