{% extends 'base.html' %}


{% block leftcol %}
{% endblock %}
{% block middlecol %}
<p style="padding: 30px;"><i style="color: red" class="fa fa-edit"></i> Please endaviour to fill the form below to register your account</p>
<form class="form-horizontal" method="post" >
  {% csrf_token %}
  
  {% for field in user_form %}
      <p style="margin-bottom: 10px">
        <strong style="font-weight: bold" > {{field.label_tag }}</strong><br>
        {{ field }}
        <!--{% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}-->
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}



<div style="margin-top: 50px" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-primary">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Profile Info
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       {{ profile_form.as_p }}
      </div>
    </div>
  </div>
</div>





  
  <button class="btn btn-success pull-right "  type="submit">Save </button>
</form>
{% endblock %}



{% block extra_script %}

<script>

$(function(){

   $('#id_location').attr({'placeholder':'Your Place of Residence'});

$('select#id_state_of_origin').on('change',function(){
    var choice=$('select#id_state_of_origin option:selected').text();
    $.ajax({
      url:'/getlg',
      data:{'state':choice},
    })
    .done(function(data){
      $('select#id_local_government').html("")
      console.log('vvvvvvvvvvvvvvvvvvvvvvvvvvvv  '+data[0]['fields'].name);
      for(var i=0;i<data.length;i++){

        var op='<option value='+(i+1)+'>'+data[i]['fields'].name+'</option>'
        $('select#id_local_government').append(op);

      }

    })
    .fail(function(){
      console.log('eror from .............................getlg');
    })
});





})

</script>


{% endblock %}