<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html">
        <meta name="author" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mock Up - Let YourVoice be heard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:url"           content="http://bigwan.pythonanywhere.com" />
        <meta property="og:type"          content="article" />
        <meta property="og:title"         content="Udec Initiative" />
        <meta property="og:description"   content="Business Research and Opinion Survey Platform" />
        <meta property="og:image"         content=""/>
        
        <!-- Font Awesomes link-->
       
        <!-- Bootstrap Core CSS-->
        {% load staticfiles %}
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
       <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
        <link href="{% static 'css/reset.css'%}" rel="stylesheet">
        <link href="{% static 'css/style.css'%}" rel="stylesheet">
        <link href="{% static 'css/sidenav.css'%}" rel="stylesheet">
        <link href="{% static 'css/style2.css'%}" rel="stylesheet">
        {% load social_widgets %}
        <script src="https://apis.google.com/js/platform.js" async defer></script>






        
    </head>
    <body>

        <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1585449031507058',
      xfbml      : true,
      version    : 'v2.9'
    });

//     FB.ui(
//  {
//   method: 'share',
//   href: 'http://bigwan.pythonanywhere.com'
// }, function(response){});

    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));


  var customerPopup = function (e, intWidth, intHeight, blnResize) {
    
    // Prevent default anchor event
    e.preventDefault();
    
    // Set values for window
    intWidth = intWidth || '500';
    intHeight = intHeight || '400';
    strResize = (blnResize ? 'yes' : 'no');

    // Set title and open popup with focus on it
    var strTitle = ((typeof this.attr('title') !== 'undefined') ? this.attr('title') : 'Social Share'),
        strParam = 'width=' + intWidth + ',height=' + intHeight + ',resizable=' + strResize,            
        objWindow = window.open(this.attr('href'), strTitle, strParam).focus();
  }
  
  /* ================================================== */
 window.onload=function(){
     $('#udecmodal').modal({
         show:true,
         backdrop:false
     });
 }
    

$('.agenda').removeClass('pull-right').addClass('center-block');    



</script>


<!--VERTICAL SIDE NAV-->

<div id="sidebar_id" class="sidebar">
            <a href="javascript:void(0)" class="closebtn"  >&times</a>
             <input type="text" placeholder="Search" class="searchtxt  form-control" style="" />
                            
            <a href="#">Politics</a>
            <a href="#">Economy</a>
            <a href="/services">Solution & Services</a>
            <a href="#">Poll & Survey</a>
            <a href="/result">Result</a>
            <a href="#">Society</a>
            {% if user.is_authenticated %}
            <a href="/login">Login Out</a>
            {% else %}
            <a href="/login">Login</a>
            <a href="/signup">Join Us</a>
            {% endif %}
            <a href="/about">About Us</a>
            <a href="/team">Our Team</a>
            <a href="#">Contact Us</a>

 </div>




        <!-- HEADER SECTION-->

<nav id="navstate" class="navbar navbar-default navbar-fixed-top  " role="navigation">
                <div class="container-fluid">
                <div class="navbar-header">
               

                <button id="navbtn" type="button" class="navbar-toggle  " data-toggle="collapse" >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/"><img  width="80"  src="../static/img/udec_logo.png" /></a>
                </div>

                    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
      
      <div class=" mynav navbar-right" style="padding-top: 15px;padding-right: 15px">
                          
                            <a href="#">Politics</a>
                            <a href="#">Economy</a>
                            <a href="/services">Solution & Services</a>
                            <!--<a href="#">Poll & Survey</a>-->
                            <!--<a href="/result">Result</a>-->
                            <a href="#">Society</a>
                           {% if user.is_authenticated %}
                            <a href="/login">Login Out</a>
                            {% else %}
                            <a href="/login">Login</a>
                            <a href="/signup">Join Us</a>
                            {% endif %}
                            <!--<a href="/signup">Join Us</a>-->
                            <a href="#">About Us</a>   
                            <a href="/team">Our Team</a>
                            <a href="#">Contact Us</a>
      </div>
    <!--</div>-->
    <!-- /.navbar-collapse -->


                </div><!-- /.container-fluid -->
</nav>


{% if not user.is_authenticated %}
<div id="udecmodal" class="modal fade" style="color: #555">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="font-weight: bold">Hi visitor ! </h4>
      </div>
      <div class="modal-body">
        <p style="color: #a00"> kindly Login or Fill our Registration Form before participating in Udec Survey</p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-success" href="/login" > Login</a>
        <a type="button" class="btn btn-primary" href="/signup">Register</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}


<section id="header">

                



            <div id="headerwrapper">
                <!--<div id="headercontainer">-->
            <!-- NAVBAR -->
            

          








            
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-sm-5">
                       
                        
                    </div>
                    <div class="col-sm-7 ">
                        <div id="mainnav" class="mynav  " >
                            

                                           
                            <a href="#">Politics</a>
                            <a href="#">Economy</a>
                            <a href="/services">Solution & Services</a>
                            <!--<a href="#">Poll & Survey</a>-->
                            <!--<a href="/result">Result</a>-->
                            <a href="#">Society</a>
                            <a href="/about">About Us</a> 
                            <a href="/team">Our Team</a>   
                            <a href="#">Contact Us</a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}?next={% url 'home' %}">Login Out</a>
                            <a id="avatar" style="margin-left: 10px" class=" fa fa-user  "></a>
                            {% else %}
                            <a href="/login">Login</a>
                            <a href="/signup">Join Us</a>
                            {% endif %}
                            <!--<a href="/signup">Join Us</a>-->
                            
                            
                            

                        </div>
                        
                        <div  id="avatarbox">
                            <div  id="avatararrow"></div>
                            <p ><a href="">You signed in as <span style="color:#f0ad4e ">{{user.username}}</span></a></p>
                            <hr style="width: 100%"/>
                            <p><a href="">View Profile</a></p>
                            <p><a href="/updateprofile">Edit Profile</a></p>
                            <p><a href="">Help</a></p>
                            <p><a href="{% url 'logout' %}?next={% url 'home' %}">SignOut</a></p>

                        </div>
                        

                    </div>

                   
                </div>
                
                
            </div>

            <!--HEADER MESSAGE-->
            
            <div class="container-fluid" style="padding: 50px 0 0 0">
                
                <div class="row">
                   
                </div>
                
                <div class="container-fluid navbox" style="padding: 50px 0;">

                    <div id="heroid" class="row">






                        
                      
                    </div>

                    
                </div>


                <!-- ABOUT YOURVOICE-->
                
               


                
                
                
                
                
                
            </div>
           
            
            
           
            
            <!--  HERO SECTION-->
                <!--</div>-->
            </div>
            

</section>
        
        <!-- CONTENT SECTION -->


<div class="container-fluid" style=" margin: 100px 0;   background-color: #eee;" >
    


    <div class="row" style="padding: 3em 0">
        <div class="col-sm-12">
            <div style="margin: 0 -5px">
                <span style=""><h3 style="text-align: center; padding:0.5em; color: #cb7a08"><i class="fa fa-anchor"></i>Take Part in U decide Poll <span style="color:#333;font-size: 16px;font-weight: bold;font-style: italic">we provide a platform for you to weight your opinion...</span> </h3></span>
            </div>
        
        </div>
        
        
    </div>
    </div>



 <section id="content" style="padding-top: 1em">
    
            
    <div class="container">
    <!-- 1 iteration row begin -->   
    
                <div id="row_0" class="row">

                        <script type="text/template" id="dynamictemplate"> 

                        
                                    
                                    
                                        
                                        <div id="%colid%" class="col-sm-12  " style="padding-bottom:100px">
                                        
                                            <div class="agenda center-block">
                                                <h4 class="agenda-title">
                                                
                                                    %surveytitle%

                                                </h4>
                                                <div class="panel panel-primary">
                                                            <div class="panel-heading">
                                                                <h4 class="panel-title" id="%titletext%"></h4>
                                                            </div>
                                                            <div class="panel-body">

                                                                <ul id='optionarea' class="list-group">
                                                                    



                                                                </ul>

                                                            



                                                        <button id="%twitter-shareid%" class="btn btn-primary">

                                                            <i class="twitter customer share" href="https://twitter.com/share?url=https://bigwan.pythonanywhere.com&amp;text=Share popup on &amp;hashtags=solixz" title="Twitter share" target="_blank">Twitter</i>
                                                            
                                                            
                                                        </button>
                                                                


                                                                <button  id="%poll-shareid%" data-col="%colid%" class="poll-share btn btn-primary "> <i class="fa  fa-facebook-square ">share</i></button>
                                                            <button  id="%next%" data-titletext="%titletext%" data-col="%colid%" data-row="%rowid%" name="%btntag%" style="" type="button"  class="btnpoll btn btn-info pull-right ">Next</button>
                                                            </div>


                                                                    <div class="panel-footer">
                                                                        
                                                                            <div class="progress">
                                                                                <div class="progress-bar progress-bar-success" style="width: 35%">
                                                                                    <span class="sr-only">35% Complete (success)</span>
                                                                                </div>
                                                                                <div class="progress-bar progress-bar-warning" style="width: 20%">
                                                                                    <span class="sr-only">20% Complete (warning)</span>
                                                                                </div>
                                                                                <div class="progress-bar progress-bar-info" style="width: 10%">
                                                                                    <span class="sr-only">10% Complete (danger)</span>
                                                                                </div>
                                                                                <div class="progress-bar progress-bar-danger" style="width: 10%">
                                                                                    <span class="sr-only">10% Complete (danger)</span>
                                                                                </div>
                                                                            </div>

                                                                            

                                                                    </div>
                                                                    
                                                    
                                                                    
                                                </div> 
                                                
                                            


                                            </div>
                                        </div>
                                    
                                        

                                    
                        </script>   
                </div>   
   
     </div>
       
            
    </section>

        <!-- TEAM SECTION-->



                    <!--Footer Section-->




























<footer style="background-color: #02327e">
            
        <div class="container-fluid farea" style="font-family: inherit;">
                
            <div class="row" style="padding: 30px 0">
                    
                 <div class="col-xs-12 col-sm- col-md-12 col-lg-12">
                        

                    <div  class="footer-nav" >
                            

                                           
                            <a href="#">Politics</a>
                            <a href="#">Economy</a>
                            <a href="/services">Solution & Services</a>
                            <!--<a href="#">Poll & Survey</a>-->
                            <!--<a href="/result">Result</a>-->
                            <a href="#">Society</a>
                            <a href="/about">About Us</a> 
                            <a href="/team">Our Team</a>   
                            <a href="#">Contact Us</a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}?next={% url 'home' %}">Login Out</a>
                            <a id="avatar" style="margin-left: 10px" class=" fa fa-user  "></a>
                            {% else %}
                            <a href="/login">Login</a>
                            <a href="/signup">Join Us</a>
                            {% endif %}
                            
                            
                            

                        </div>

                    </div>
                    
                    
                   
                </div>
                    
                    <div id="footer-info2" class="row">
                        <div class="col-sm-3">
                            <ul>
                                <li class="footer-subhead"><h4>Udec On Twitter</h4></li>

                                       <li> <a class="twitter-timeline"  href="https://twitter.com/hashtag/unity3d" data-widget-id="882244242508328960">#unity3d Tweets</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                       </li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <ul>
                                <li class="footer-subhead"><h4>UDEC Initiative </h4></li>
                                <li style="text-align: left">
                                    <h6>
                                        The Bigwan Initiative is poised to be the first indigenous research
                                         based strategy group inn Nigeria. Our goal will be to provide data 
                                         oriented services to a host of consumers while also offering predictive 
                                         solutions to a wide variety of clients. In the long run, 
                                        we intend to position ourselves as an organization that provides
                                         the following solutions and services.

                                    </h6>
                                    <li>

                                         <div class="social-buttons">
                             

                                <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                                <script type="IN/Share" data-url="http://bigwan.pythonanywhere.com"></script>
                                {% social_widget_render "twitter/follow_button.html" username="solixz" show_screen_name=True %}
                              
                                        
                                    </li>
                                <!--<li>Market Research and Analysis</li>-->
                                <!--<li>Product Promotion</li>
                                <li>Corporate Branding</li>
                                <li>Personal Branding</li>
                                <li>Political Analysis and Chances Deduction</li>
                                <li>Data Minning</li>-->


                            </ul>
                        </div>
                        
                        <div id="contact" class="col-xs-12 col-sm-3" style="text-align:left;padding:0 4%" >
                            <ul class="contact-us">
                                <li class="footer-subhead"><h4>Contact Us</h4></li>
                                <li>
                                    No 42, 5th Floor,
                                    Western House, Broad Street
                                    +234 (0) 8135773940
                                    +234 (0) 0000000000
                                    info@udecinitiative.com

                                    
                                </li>

                            </div>
                            <div class="col-sm-3" style="padding-right: 10px">
                                <ul>
                                    <li class="footer-subhead"><h4>Locate Us:</h4></li>
                                <li id="map">
                                    <iframe style="border-radius: 5px;position: relative" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.5346251869987!2d3.387373814604186!3d6.453732425761343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8b11de11c53b%3A0x8d3e2dca80ed48ca!2sWestern+House%2C+Broad+St%2C+Lagos+Island%2C+Lagos!5e0!3m2!1sen!2sng!4v1499248624923" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </li>
                                </ul>

                            </div>
                        </div>
                        
                        
                        
                    </div>
                    
                
                
            </div>
            



        </footer>

>






        <script src="{% static 'js/jquery.js' %}"></script>        
        <script src="{% static 'js/bootstrap.js' %}"></script>       
        <script src="{% static 'js/jquery.visible.js'%}"></script>
        <script src="{% static 'js/jquery.carouFredSel-6.2.1.js'%}"></script>

        <script src="{% static 'js/Chart.js' %}"></script>
        <script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>
         <script src="{% static 'js/main_pollall.js' %}"></script>
        <script src="{% static 'js/main_1_pollall.js' %}"></script>
        <script src="{% static 'js/social_popup.js' %}"></script>
        

    </body>   